<div sample-menu></div>

<div class="container">
    <div class="starter-template">
        <h1></h1>


		<div class="row">
			<div class="col-md-6">
				<span  ng-hide="isFirstUploaded">Carica il file accrediti</span>
				<div class="fileUpload btn btn-primary" ng-hide="isFirstUploaded">
					<input id="uploadDraft" class="upload"  type="file" accept=".csv"
						   nv-file-select="" uploader="firstUploader" filters="imageFilter"/>
					<span>Upload</<span>
				</div>
			</div>
			<div class="col-md-6">
				<input id="firstFile" value="{{firstFile.file.name}}" ng-show="isFirstUploaded"  style="width:300px"  disabled="disabled" />
			</div>
		</div>
 		</br>
		<div class="row">
			<div class="col-md-6">
				<span ng-hide="isSecondUploaded">Carica il file con date/orari</span>
				<div class="fileUpload btn btn-primary" ng-hide="isSecondUploaded">
					<input id="uploadDraft" class="upload"  type="file" accept=".csv"
						   nv-file-select="" uploader="secondUploader" filters="imageFilter"/>
					<span>Upload</<span>
				</div>
			</div>
			<div class="col-md-6">
				<input id="secondFile" value="{{secondFile.file.name}}" ng-show="isSecondUploaded"  style="width:300px"  disabled="disabled" />
			</div>
		</div>


		<div class="row" ng-show="secondFile && firstFile" >
			<div class="col-md-12">
				<button ng-click="processBtn()">Elabora</button>
			</div>
		</div>

		<div class="row" ng-show="data">
			<div class="col-md-12">
			<table class="table">
			<thead>
				<td>Descrizione</td>
				<td>Importo</td>
				<td>Data</td>
				<td>Transazioni</td>
			</thead>
			<tbody ng-repeat="item in data.accreditiList">
				<td>{{item.descrizione}}</td>
				<td>{{item.importo  | currency:"&euro;"}}</td>
				<td>{{formatLocalDate(item.dataOra)}}</td>
				<td>{{item.transazioni}}</td>
			</tbody>
			<tfoot>
				<td></td>
				<td>{{data.importo | currency:"&euro;" }}</td>
				<td></td>
				<td>{{data.transazioni}}</td>
			</tfoot>
			</table>

			</div>
		</div>




	</div>
</div>






