body {
  padding-top: 60px;
}

span.form-control {
  border:0;
  box-shadow:none;
}

 
.modal-dialog {
    right: auto;
    left: 0%;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}}



*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.inputBtnSection{
    display:inline-block;
    vertical-align:top;
    font-size:0;
    font-family:verdana;
}
.disableInputField{
    display:inline-block;
    vertical-align:top;
    height: 27px;
    margin: 0;
    font-size:14px;
    padding:0 3px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
    border:solid 1px gray;
    display:inline-block;
    vertical-align:top;
}
.uploadBtn{
    display:inline-block;
    vertical-align:top;
    background:rgba(0,0,0,0.5);
    font-size:14px;
    padding:0 10px;
    height:25px;
    line-height:22px;
    color:#fff;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.main_table tr:first-child th {
    color: white;
    background-color: black;
    /* font-stretch: condensed; */
}



.indicatorContainerWrap,.indicatorContainer{
    display:inline-block;
    position:relative;
}
.prgLogo{
    position:absolute;
    width:60px;
    height:60px;
    margin-top:40px;
    margin-left:23px;
} 

.glyphicon {
    font-size: 30px;
    color: black;
}