<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enerlife - Exercise (c)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/content/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link th:href="@{/content/bootstrap-theme.css}" rel="stylesheet" />
    <link th:href="@{/content/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/content/themes/base/jquery-ui.css}" rel="stylesheet" />
    <link th:href="@{/scripts/ladda/dist/ladda-themeless.min.css}" rel="stylesheet"/>
    <link th:href="@{/content/app.css}" rel="stylesheet" />
</head>
<body ng-app="WsrApplication">
    <div ng-view="">
    </div>

    <script th:src="@{/scripts/jquery-2.1.0.js}"></script>

    <script th:src="@{/scripts/jquery-ui-1.10.4.js}"></script>
    <script th:src="@{/scripts/underscore.js}"></script>
    <script th:src="@{/scripts/angular.js}"></script>
    <script th:src="@{/scripts/angular-resource.js}"></script>
    <script th:src="@{/scripts/angular-route.js}"></script>
    <script th:src="@{/scripts/angular-locale_it-it.js}"></script>
    <script th:src="@{/scripts/ui-date.js}"></script>
    <script th:src="@{/scripts/bootstrap.js}"></script>
    <script th:src="@{/scripts/ui-bootstrap-0.10.0.js}"></script>

    <script th:src="@{/scripts/angular-cookies/angular-cookies.js}"></script>

	<script th:src="@{/scripts/angular-file-upload/dist/angular-file-upload.js}"></script>

	<script th:src="@{/scripts/ladda/js/spin.js}"></script>
	<script th:src="@{/scripts/ladda/js/ladda.js}"></script>
	<script th:src="@{/scripts/angular-ladda/dist/angular-ladda.min.js}"></script>
 	<script th:src="@{/scripts/angular-ladda/dist/angular-ladda.min.js}"></script>

 	<script th:src="@{/scripts/radialIndicator/radialIndicator.js}"></script>
    <script th:src="@{/scripts/radialIndicator/angular.radialIndicator.js}"></script>

    <script th:src="@{/scripts/pdfjs-dist/build/pdf.js}"></script>
    <script th:src="@{/scripts/angular-pdf-viewer/dist/angular-pdf-viewer.min.js}"></script>


    <script th:src="@{/app/app.js}"></script>
    <script th:src="@{/app/common/common.js}"></script>
    <script th:src="@{/app/angular/caching/cacheInterceptor.js}"></script>
    <script th:src="@{/app/angular/data/data.js}"></script>
    <script th:src="@{/app/angular/loader/loader.js}"></script>
    <script th:src="@{/app/angular/loader/loader.directive.js}"></script>



    <script type="text/javascript" th:inline="javascript">
    	var counter = [[${counter}]];
    	var progress = [[${progress}]];
        var version = /*[[${version}]]*/ '0.0.0';
        angular
            .module('WsrApplication.Config', [])
            .constant("wsrConfig", {
		        "counter": counter,
		        "progress": progress
		    })
            .constant('WsrApplicationVersion', version);
    </script>
</body>
</html>