<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Enerlife - Exercise (c)</a>
        </div>
        <div class="collapse navbar-collapse" style="position: absolute;right: 0px;padding:10px">
        	<img   ng-src="/app/images/enerlife.jpg"/>
        </div>
    </div>
</div>
